.btn, .btn-squared {
    border-radius: 0 !important;
}

.btn:focus, .btn-squared:focus {
    outline: none;
    box-shadow: none;
}

.btn.btn-black,
.btn-squared.btn-black,
a.btn.btn-black
{
    width: fit-content;
    padding: 0 10px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--primary-color);
    color: #fff !important;
    text-align: center;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 21px !important;
    border: none;
    transition: all 0.2s ease;
}

.btn-black-outline,
a.btn-black-outline
{
    background-color: #fff;
    color: var(--primary-color);
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 21px !important;
    border: 1px solid var(--primary-color);
}

.btn-black-outline:hover,
.btn-black-outline::focus,
a.btn-black-outline:hover,
a.btn-black-outline::focus
{
    background-color: var(--primary-color) !important;
    color: #FFF !important;
    transition: all 0.2s ease;
    opacity: 1 !important;
}

.quadrato {
    height: 48px;
    width: 48px;
    padding: 0;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.btn.btn-black:hover,
.btn-squared.btn-black:hover,
a.btn.btn-black:hover
{
    background-color: var(--primary-color-hover) !important;
    color: #FFF !important;
    border: none !important;
    text-decoration: none !important;
}

.btn.btn-black:hover svg path,
.btn-squared.btn-black:hover svg path
{
    stroke: #FFF !important;
}

.btn:focus,
.btn-squared:focus,
.btn.btn-black:focus,
.btn-squared.btn-black:focus
{
    box-shadow: none;
    outline: none;
    border: none;
    background-color: var(--primary-color);
}


/************************ NUOVI BOTTONI ANCORA LUGLIO 2025 ************************/
.new-btn{
    display: flex;
    height: 48px;
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    flex: 1;
    min-width: 0;

}

.new-btn-primary{
    background: #202020 !important;
    color: #fff;
}

.new-btn-primary:hover{
    background: #000 !important;
    color: #fff;
}

.new-btn-primary:focus{
    background: #222 !important;
    color: #fff;
}

.new-btn-secondary{
    border: 1px solid #000 !important;
    background: #FFF !important;
    color: #000;
}

.new-btn-secondary:hover{
    border: 1px solid #000 !important;
    background: #E2E2E2 !important;
    color: #000;
}

.new-btn-secondary:focus{
    border: 1px solid #000 !important;
    background: #BBB !important;
    color: #000;
}
