body, HTML {
    /*height:100%;*/
	padding:0;
	margin:0;
	-webkit-text-size-adjust: 100% !important;
	-ms-text-size-adjust: 100% !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    overflow-x: hidden !important;
}

body {
    /* padding-top: 88px; */
    color: #3e3e3e
}

h1,h2,h3,h4,h5,h5,p {
    line-height: 110%;
    font-weight: 300;
}

.gray {
    background-color: #f8f9fa;
}

a:hover {
    text-decoration: none;
    border-bottom-width: 1px;
    /* border-bottom-style: solid; */
}

a.noborder:hover {
    border-bottom: none;
}

.font-icon {
    font-size: 80px;
}

.text_mini {
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}

.text_gray {
    color: #999
}

.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h-400 {
    height: 400px;
}

.h-300 {
    height: 300px;
}

.h-500 {
    height: 500px;
}

.bg_black {
    background-color: #000000;
}

.bg_black h1, .bg_black h2, .bg_black p, .bg_black li, .bg_black a {
    color: #f1f1f1 !important
}

.bg_black .divisorio .object {
    background-color: #f1f1f1
}

.divisorio {
    height: 1px;
    /*background-color: #e0dfdf;*/
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.divisorio .object {
    position: absolute;
    background-color: #868686;
    left: 0;
    width: 200px;
    height: 3px;
    border-radius: 0;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -2px;
}

.barrato {
    text-decoration: line-through;
}

#navbar {
    background-color: #fff !important;
    margin-bottom: 0;
    padding: 8px 60px;
    border-bottom: 1px solid #ddd;
}

#navbar .navbar-nav .nav-link {
    font-size: 13px !important;
    font-weight: 500 !important;
    color: #2c2c2a;
    text-align: center !important;
    text-transform: uppercase;
}

.navbar-light .navbar-toggler {
    color: #000;
    border: none;
    outline: none;
}

.dropdown-menu {
    border-radius: 0;
    margin-top: 0;
}

.dropdown-item {
    line-height: 10px !important;
}

#mini-nav {
	background-color: #fff !important;
	border-bottom: 1.5px solid #ddd;
	padding: 8px 3px;
	width: 100%;
	display: block;
    z-index: 10000;
}

#mini-nav .container, #mini-nav .container-fluid {
	justify-content: flex-end;
}

#mini-nav {
    padding-right: 90px;
    padding-left: 90px;
}

#mini-nav li {
	display: inline-block;
}

#mini-nav li a {
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 700 !important;
    color: #474747;
}

#mini-nav .dropdown-item {
    font-size: 14px !important;
    font-weight: 400 !important;
}

#mini-nav ion-icon {
    font-size: 24px;
    color: #000
}

#mini-nav .dropdown-toggle::after {
    content: none;
}

#mini-nav h1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 0;
}

.main {
    padding: 80px 0 100px 0;
    position: relative;
    margin: 0;
    display: block;
}

.prefooter {
    background: #e3e3e3;
    border-bottom: 1px solid #cecccc;
}

.prefooter h2 {
    font-weight: 700;
    text-transform: none;
    font-size: 20px;
    text-align: left;
    letter-spacing: normal;
}

.prefooter li, .prefooter a, .prefooter p {
    font-size: 15px !important;
    line-height: 25px;
    text-align: left;
    color: #666
}

footer {
    background-color: #E9ECEF;
}

footer p, footer li, footer a {
    color: #333;
    font-size: 15px !important;
    margin-bottom: 0
}

.breadcrumb {
    background-color: #1d1d1b;
    border-radius: 0 !important;
}

.breadcrumb li, .breadcrumb a, .breadcrumb p {
    color: #fff !important;
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 400;
}

.breadcrumb li a:hover {
    border-bottom: none !important;
    color: #ccc !important;
}

.breadcrumb-item::before {
    color: #fff !important;
}

#smart-nav li {
    display: inline-block !important;
    margin: 0 4px;
    list-style: none;
}

#smart-nav li.first { padding-left: 0 !important; }
#smart-nav li.last { padding-right: 0 !important; }

#smart-nav li a {
    color: #000 !important;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px !important;
}

#smart-nav li a:hover {
    border-bottom: none;
}

.price-product-outline {
    background: white;
    border: 1px solid #91649E;
    color: #91649E!important;
    padding: 10px 20px 8px 20px;
    font-size: 13px !important;
    font-weight: 900 !important;
    letter-spacing: 1px !important;

}

.btn-custom {
    border-radius: 30px !important;
    text-transform: uppercase;
    font-size: 13px !important;
    /*padding: 10px 20px 8px 20px !important;*/
    font-weight: 900 !important;
    letter-spacing: 1px !important;
    border: none;
}

.btn-custom.circle {
    padding: 0 !important;
    width: 38px !important;
    height: 38px !important;
    padding-top: 9px !important;
    font-size: 18px !important;
    line-height: 0 !important;
    border-radius: 100% !important;
}

.btn-custom.round {
    border-radius: 100px !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 0 !important;
    padding: 0 !important;
    font-size: 15px !important;
    margin-top: -4px;
}

.prezzo {
    font-size: 35px !important;
    font-weight: 500 !important;
    letter-spacing: normal;
    line-height: 130%;
}

.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carousel_indicator .carousel-caption {
    text-align: left;
    width: 35%;
    left: 55%;
    top: 35%;
}

#carousel_indicator .carousel-caption  h1 {
    text-transform: none;
    font-weight: 900 !important;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: 67px !important;
    line-height: 70px !important
}

#carousel_indicator .carousel-caption h2 {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
}

#carousel_indicator .carousel-caption p {
    text-align: left;
    color: #000;
}

#carousel_indicator .carousel-caption .btn {
    margin-top: 15px;
}

.timer {
    font-size: 33px;
    font-weight: 600;
    color: #91649E
}

.timer .small {
    font-size: 24px;
    font-style: italic;
}

fieldset {
    border: 1px solid #e6e6e6;
    padding: 30px;
}

fieldset legend {
    width: auto;
    text-align: center;
    padding: 10px 40px 7px 40px;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

fieldset.mini {
    padding: 10px 20px;
    border-radius: 7px;
    text-align: center
}

fieldset.mini legend {
    padding: 0px 30px 0 30px;
    letter-spacing: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px
}

#mod_acquisto fieldset {
    background: #d1d1d110
}

#mod_acquisto h1 {
    font-size: 30px;
    font-weight: 400;
    color: #585858
}

#mod_acquisto h2 {
    font-size: 17px;
    font-weight: 700;
}

#wait {
    background-color: #ffffff95 !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
}

#wait .fa {
    color: #333;
    font-size: 70px;
}

.hidden {
    display: none;
}

.custom {
    display: inline !important;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px !important;
    background-color: #fff;
    font-weight: 500;
    color: #000 !important;
}

.lab {
    padding-top: 20px !important
}

#qty_div .custom {
    display: inline !important;
    width: 180px !important;
    text-align: center;
    line-height: 0;
    text-align: center;
}

textarea.custom {
    font-size: 18px !important;
    line-height: 25px !important;
    padding: 15px;
    text-align: left !important;
}

label.absolute {
    display: inline-block;
    margin-bottom: 0;
    position: absolute;
    font-size: 11px !important;
    line-height: 15px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
    color: #959595 !important;
    z-index: 1 !important;
}

.tab-pane {
    padding: 0 20px;
}

.nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.close_panel {
    margin: 50px auto 0 auto;
}

.modal {
    z-index: 100000008 !important;
}

.modal-footer .btn {
    font-size: 15px !important;
}

.modal .close {
    padding-right: 20px;
    padding-top: 20px;
    outline: none;
}

a:hover img, a:hover, .btn:hover {
	-webkit-transition:all 0.30s ease-out;
	-moz-transition:all 0.30s ease-out;
	-o-transition:all 0.30s ease-out;
}

button.alt.action.bundle.btn.btn-danger {
    padding: .375rem .55rem
}

a.call_action {
    color: #0f0f0e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
}

a.call_action:hover {
    border-bottom: 1px solid #333 !important;
    padding-bottom: 4px;
    text-decoration: none;
}

.card.border {
    padding: 15px;
     -webkit-transition:all 0.30s ease-out;
    -moz-transition:all 0.30s ease-out;
    -o-transition:all 0.30s ease-out;
}

.card.border:hover {
    padding: 0;
    -webkit-transition:all 0.30s ease-out;
    -moz-transition:all 0.30s ease-out;
    -o-transition:all 0.30s ease-out;
}

.card-title {
    letter-spacing: normal;
    font-weight: 400 !important;
    color: #000 !important;
    font-size: 25px !important;
    line-height: 33px !important;
}

.card-title.big, .modal h3 {
    font-size: 22px !important;
    line-height: 27px !important;
    font-weight: 400 !important
}

.card .prezzo_row {
    height: 100px;
}

.card .titoli {
    height: 150px
}

/*.card-img, .card-img-bottom, .card-img-top {*/
.copertina {
    height: 200px;
}

.img-cart {
    width: 100%;
    height: 9vw;
    object-fit: cover;
}


.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    -webkit-transform: scale(0.90);
	transform: scale(0.90);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.polaroid:hover {

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    /* position: relative;
    z-index: 5; */
    -webkit-transition: all 0.20s ease-out;
    -moz-transition: all 0.20s ease-out;
    -o-transition: all 0.20s ease-out;
}

.img_prod_card {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    align-self: center;
}

.card .btn-default {
    border: 1px solid #333;
}

.card .btn-default:hover {
    border: 1px solid #333;
    background-color: #333;
    color: #fff
}

.miniatura img {
	border: 1px solid #e6e6e6
}

.miniatura {
    padding-top: 20px;
    cursor: pointer;
}

/* .miniatura img:hover {
	cursor: pointer;
	animation: heartBeat;
	-webkit-animation: heartBeat 1s;
	-moz-animation: heartBeat 1s;
	-o-animation: heartBeat 1s;
} */

figure.zoom {
	border: 1px solid #e6e6e6;
    text-align: center;
    min-height: 463px !important;
}

.pointer {
    cursor: pointer
}

/*ZOOM FOTO*/
.tiles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tile {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: transform .5s ease-out;
}

.txt {
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 10%;
	left: 0;
	font-size: 9px;
	line-height: 12px;
	text-align: center;
	cursor: default;
}

.x {
	font-size: 32px;
	line-height: 32px;
}

.viola_ch {
    font-weight: 900 !important;
    color: #3f3180;
}

.icon_info {
    font-size: 150%
}

.icon_title {
    width: 120px;
    height: auto !important
}

.icon_title.big {
    width: 200px;
    height: auto !important;
}

.bac_light_gray {
    background-color: #fcfcfc
}

.bg_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 100%;
    padding:0;
    margin: 5px 0 0 0;
    text-align: center;
}

.bg_section .title {
    border: 1px solid #fff;
    padding: 20px 40px;
}

.bg_section .title h1, .bg_section .title p {
    color: #fff !important
}

.bg_section .title p {
    font-weight: 700 !important;
    text-transform: uppercase;
}

.bg_section .title h1 {
    font-size: 42px;
    line-height : 60px !important;
}

.bg_section.hero-product-list {
    height: 300px;
}

.bg_section.hero-product-list .title {
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.bg_section.hero-product-list .title h3 {
    font-size: 30px;
    line-height: 100%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    font-family: Montserrat !important;
    letter-spacing: 1px !important;
    text-transform: uppercase;
    text-align: center;
    gap: 16px;
}

.bg_section.hero-product-list .title h3::before,
.bg_section.hero-product-list .title h3::after
{
    content: '';
    width: 100px;
    display: block;
    background-color: #fff;
    height: 1px;
}

/* .bg_section.hero-product-list .title h3::before {
    margin-right: 20px;
}

.bg_section.hero-product-list .title h3::after {
    margin-left: 20px;
} */

/* Flashing */
.contenitore-news figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* Zoom Out #1 */
.contenitore-parfume figure img {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.contenitore-parfume figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.badge {
    width: max-content;
}

.badgepromo {
    top: 10px ;
    left: 10px;
    position: absolute;
    /* width: 55px; */
    border-radius: 50px;
    height: 45px ;
    width: 45px ;
    padding: 13px 0px ;
    background: #eb0e0d ;
    font-size: 1em ;
    color:white
}

.badge-new {
    top: 9px;
    right: -10px;
    position: absolute;
    z-index: 20;
    color: #eb0e0d;
}

.badge-text{
    font-size: 1.2em;
    top: 23px;
    right: -3px;
    position: absolute;
    z-index: 20;
    color: white;
    font-weight: bold;
    transform: rotate(-45deg);
}

.contenitore figure{
        position: relative;
}

.contenitore figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.contenitore figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #E4E0FD !important;
}


.bootstrap-select .dropdown-menu li a {
    padding: 12px !important;
    border-bottom: 1px solid #eaeaea !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
}

.bootstrap-select .dropdown-menu li a span.text {
    display: inline-block;
    padding-left: 7px;
    padding-top: 10px;
    line-height: 0;
    display: inline-block;
}

.bootstrap-select>.dropdown-toggle {
    border-radius: 10px;
    background-color: #fff;
    border-color: #e0dfdf;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-width: 2px;
    border-color: #ccc;
    outline: none;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    z-index: 100000 !important;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
    border: 1px solid #bfbfbf !important;
}

.bootstrap-select .bs-searchbox .custom {
    padding-top: 10px !important;
}

.video {
    background-color: #000 !important;
    width: 100% !important;
    padding: 0;
}

.video video {
    width: 100% !important;
    height: 100% !important;
}

.video .opacity {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #00000090;
    z-index: 1;
}

.title_video {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

h1.title {
    font-size: 60px;
    color: #fff;
    line-height: 80px;
    height: 100px;
    font-weight: 100;
}

.title_video .logo {
    width: 25%;
    height: auto;
    margin-bottom: 20px;
}

.invisible {
    visibility: hidden;
}

#steps .divider, #steps-in-cart .divider {
    height: 1px;
    width: 30px;
    background-color: #ccc;
    line-height: 0;
}

#steps li, #steps-in-cart li {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

#steps a, #steps-in-cart a {
    color: #131313 !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    padding: 3px 0 !important
}

#steps a:hover, #steps-in-cart a:hover {
    border-bottom: 1px solid #ccc;
    text-decoration: none
}

#steps .active, #steps-in-cart li a.active {
    color: #352365 !important;
    border-bottom: 1px solid !important
}

#steps a.active:hover, #steps-in-cart a.active:hover {
    border-bottom-color: #1d1d1b
}

#steps .content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.full_notify {
    max-height: 300px;
    height: auto;
    width: 100%;
    padding: 10px;
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: #f8f8f8;
    z-index: 100000;
    overflow-y: hidden;
    overflow-x: hidden;
    display: none;
}

.full_notify p {
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: #000 !important;
}

.full_notify h5 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: rgb(99, 99, 99);
}

.full-panel {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000000;
    overflow-y: scroll !important;
    padding:20px 5px
}

.full-panel .content {
    overflow-y: scroll !important;
    max-height: 100% !important;
    height: auto !important
}

.full-panel .close {
    font-size: 27px !important;
    color: #000 !important;
    z-index: 1;
    top: 5px !important;
    right: 15px !important;
}

.relative {
    position: relative !important;
}

/* Canvas menu laterale */

.screen-overlay {
    height: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity:0;
    visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}

.screen-overlay.show {
    transition:opacity .5s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

.opacity {
    background-color: #00000015
}


.opacity-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 108%);
}

.offcanvas{
    width: 400px;
    visibility: hidden;
    transform:translateX(-100%);
    transition:all .2s;
    border-radius:0;
    box-shadow: 0 5px 10px rgba(0,0,0, .2);
    display:block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #f6f6f6;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100000;
}

.offcanvas.show{
    visibility: visible;
    transform: translateX(0);
    transition: transform .2s;
}

/* Fine */

#prod_cat .card {
    border-radius: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
}

#prod_cat .card-header {
    padding: 0 !important;
    font-size: 13px !important;
}

#prod_cat .card-header .btn {
    color: #3a3a3a !important;
    font-weight: 500 !important;
    letter-spacing: normal !important;
    border-radius: 0;
    font-size: 13px !important;
    border-bottom: 0;
}

#prod_cat .card-header h5 {
    line-height: 0 !important;
}

#prod_cat .card-header .btn:hover {
    color: #000 !important;
    cursor: pointer;
    border: none !important;
    border-radius: 0 !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    -webkit-transition:all 0.30s ease-out;
    -moz-transition:all 0.30s ease-out;
    -o-transition:all 0.30s ease-out;
}

#prod_cat .card-header:hover img {
    fill: #fff !important;
}

#prod_cat .btn-custom:hover {
    background-color: #dadada !important;
}

#prod_cat .card-header .btn-link.btn-dark {
    border: none !important;
    padding: 10px 20px 8px 20px !important;
    text-transform: uppercase;
}

#prod_cat .card-header .btn-link.btn-dark:hover {
    border: none !important;
    padding: 10px 20px 8px 20px !important;
}

#prod_cat .card.close {
    background-color: #f00;
    width: 100%;
    opacity: 100%;
    border-bottom: none
}

/* #prod_cat .card.close .card-header .btn-link.btn-dark {
    background-color: #f00;
}

#prod_cat .card.close .card-header .btn-link.btn-dark:hover {
    background-color: rgb(185, 0, 0);
} */

#prod_cat .card-header:hover h5 a {
    color: #fff !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 13px !important;
}

#prod_cat .card-header:hover h5 a:hover {
    font-weight: 500 !important;
    font-size: 13px;
}

#prod_cat .card-header .btn:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    border: none;
}

.btn-shop-mobile:focus {
    outline: 0;
    box-shadow: none !important;
}

#prod_cat .card-header .btn:hover {
    text-decoration: none;
    font-weight: 500;
}

#prod_cat .card-body a {
    color: #333
}

#prod_cat .name {
    float: left;
}

#prod_cat .angle {
    float: right;
}

#prod_cat .submenu {
    padding: 0
}

#prod_cat .submenu li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc
}

#prod_cat .submenu li a {
    padding: 5px;
    display: block;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding-left: 55px;
    color: #3a3a3a;
}

#prod_cat .submenu li a:hover {
    text-decoration: none;
    color: #000 !important;
    font-weight: 700 !important;
    border-bottom: none;
}

#prod_cat li.child a {
    color: #6a6a6a;
    padding-left: 70px;
}

#prod_cat li .child:hover {
    color: #fff;
}

.category_icon {
    height: 20px;
    width: auto;
    margin-right: -1px;
    font-size: 18px;
    max-width: 20px;
}

.absolute_left {
    position: absolute;
    left: 15px;
    top: -10px;
}

.absolute_left_2row {
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 4 !important;
}

.absolute_right {
    position: absolute;
    right: 16px;
    top: 16px;
}

.shakeX:hover {
    display: inline-block;
    animation: shakeX;
    animation-duration: 8s;
}

.pulse:hover {
    display: inline-block;
    animation: pulse;
    animation-duration: 0.7s;
}

.faRotateIn:hover .fa {
    display: inline-block;
    animation: rotateIn;
    animation-duration: 1s;
}

.faSlideInLeft:hover .fa {
    display: inline-block;
    padding-left: 20px;
    -webkit-transition:all 0.30s ease-out;
    -moz-transition:all 0.30s ease-out;
    -o-transition:all 0.30s ease-out;
}

.inside {
    width: 80% !important;
}

.margin-bottom-product {
    margin-bottom: -50px;
}

.add_cart {
    position: fixed;
    right: 0;
    bottom: 50px;
    z-index: 1;
    background-color: #333;
    padding: 10px 30px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

.badge.rounded {
    border-radius: 100px !important;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: -1px;
    padding: 0;
    min-width: 15px;
    height: 15px;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.tooltip {
    z-index: 1000000
}

.page-link {
    line-height: 1.8;
}

.page-item.active .page-link {
    background-color: #91649E;
    border-color: #91649E;
}

.margin-button {
    width: 100%;
    margin-left: 0;
}

.logo-mobile {
    /*height: 30px !important;*/
    /*margin-top: -5px !important;*/
    max-width: 120px;
    margin-left: 10px;
}

.color-black {
    color: #000 !important;
}

.margin-navbar {
    margin: 0 !important;
}

.margin-left-navbar {
    margin-left: -10px;
}

.navbar-bottom {
    margin-top: 5px;
}

.navbar-top {
    border-bottom: 1px solid #ddd;
}

.list-search {
    list-style-type: none;
}

.border-right {
    border-right: 1px solid #ddd;
    height: auto;
    margin-bottom: -9px;
    margin-top: -17px;
}

.font-size-icon {
    font-size: 20px;
}

.sponsor-code {
    font-size: 11px;
    font-weight: 900;
    color: #525252;
}

.size-content-user {
    width: 70px;
}

.size-content-cumulative {
    width: 30px;
    margin-left: 1px !important;
}

.sizw-contant-shop {
    margin-left: 8px;
    margin-right: 2px !important;
}

.unlogged .promo-breadcrumb {
    margin-top: -1px;
}

.unlogged .margin-top-mobile {
    margin-top: -1px;
}

.unlogged .breadcrumb {
    margin-top: 4px;
}

.unlogged .bundle-img {
    margin-top: -1px;
}

.promo-breadcrumb .logo-mobile {
    margin-top: 50px;
}

.img-mobile {
    width: 100% !important;
}

.product-mobile {
    width: 100%;
}

.cumulative-identity {
    margin-bottom: -10px;
    margin-top: -2px;
}

.cumulative-resale {
    margin-bottom: -2px;
}

.dropdown-menu-cumulative {
    left: -10px !important;
}

.text-shipping {
    width: fit-content;
}

/* .unlogged .breadcrumb-margin-top {
    margin-top: 4px;
} */

.unlogged .margin-breadcrumb-mobile, .unlogged .breadcrumb-mobile {
    margin-top: 0;
}

.unlogged .breadcrumb-bundle-detail {
    margin-top: 0;
}

.breadcrumb-bundle-detail {
    margin-top: 0;
}

.promo-breadcrumb {
    margin-top: 4px;
}

.margin-top-shop {
    margin-top: -18px;
}

.margin-top-shop-mobile {
    margin-top: -12px;
}

.margin-top-arrow {
    margin-top: -60px;
}

.margin-top-close-searchbar, .margin-top-document {
    margin-top: -5px;
}

.margin-top-wishlist {
    margin-top: -10px;
}

.margin-top-heart-wishlist, .margin-top-access, .margin-top-person {
    margin-top: -15px;
}

.margin-top-heart-wishlist-mobile, .margin-top-access-mobile, .margin-top-person-mobile {
    margin-top: -10px;
}

.margin-top-wishlist-mobile {
    margin-top: 2px;
}

.unlogged .margin-top-store {
    margin-top: 15px;
}

.margin-top-store-mobile {
    margin-top: -12px;
}

.unlogged .margin-top-store-mobile {
    margin-top: -12px;
}

.margin-top-globe {
    margin-top: -16px
}

@media (max-width: 991px) {

    .btn-margin-bottom {
        margin-bottom: 0;
    }
    /*body {
        padding-top: 132px;
    }*/
    body.unlogged {
        padding-top: 102px !important;
    }
    body.unlogged #carousel_indicator {
        margin-top: -1px;
    }

    .breadcrumb {
        /* margin-top: 0px; */
    }
    /* .unlogged .breadcrumb {
        margin-top: -1px;
    } */
    .margin-top-mobile {
        margin-top: -14px;
    }
    .unlogged .promo-breadcrumb {
        margin-top: -2px;
    }
    .carousel {
        margin-top: -14px;
    }
    .dropdown-menu-registration {
        left: -130px !important;
    }
    .dropdown-menu-cumulative {
        left: -40px !important;
    }
    .width-navbar-mobile {
        width: 0 !important;
    }
    .btn-shop-mobile {
        background-color: transparent !important;
        color: #000 !important;
        margin-top: -13px;
        margin-left: -5px;
    }
    .unlogged .bundle-img {
        margin-top: -1px;
        margin-bottom: 0;
    }
    .bundle-img {
        margin-top: -14px;
        margin-bottom: 15px;
    }
    .unlogged .btn-shop-mobile {
        margin-left: 0;
        margin-top: -13px;
    }
    /* .breadcrumb-margin-top {
        margin-top: -10px;
    }
    .breadcrumb-bundle-detail {
        margin-top: -15px;
    }
    .promo-breadcrumb {
        margin-top: -11px;
    } */

}

/* Smartphone */
@media (max-width: 768px) {

    .img-border-bottom {
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .text-center-footer {
        margin-left: 0 !important;
    }
    .text-center-mobile {
        text-align: center;
    }
    .bg_section .title {
        padding: 10px 5px;
    }
    .image-border {
        width: 100%;
        margin-left: 0;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .margin-text-mobile {
        margin-left: 32%;
    }
    #mini-nav {
        padding-right: 0px;
        padding-left: 0px;
    }

    .bg_section.hero-product-list .title h3 {
        font-size: 21px !important;
        font-weight: 400 !important;
        line-height: 100% !important;
        letter-spacing: 0.3px !important;
        gap: 8px;
    }

    .bg_section.hero-product-list .title h3::after,
    .bg_section.hero-product-list .title h3::before {
        width: 45px !important;
    }
}

@media (max-width:767px) {

    .unlogged .navbar-toggler {
        margin-top: 0;
    }
    .navbar-toggler {
        margin-top: 55px;
    }
    .btn-add-cart {
        width: 122% !important;
        margin-left: -10%;
    }
}

@media (max-width: 641px) {

    .margin-left-mobile{
        margin-left: -28px;
    }
}

@media (max-width: 600px) {

    .custom-view .absolute_right {
        position: absolute !important;
        right: 15px !important;
        top: -25px !important;
    }

    .breadcrumb {
        /* margin-top: 71px; */
    }
    .margin-bottom-mobile {
        margin-bottom: -72px;
    }
    .unlogged .breadcrumb-mobile {
        margin-top: 72px !important;
    }
    .unlogged .margin-breadcrumb-mobile {
        margin-top: 72px !important;
    }
    .margin-top-mobile {
        margin-top: 54px;
    }
    body.unlogged {
        padding-top: 47px !important;
    }
    .unlogged .promo-breadcrumb {
        margin-top: 54px;
    }
    .unlogged .breadcrumb-user-validation, .unlogged .breadcrumb-change-email {
        margin-top: 55px;
    }
    .unlogged .breadcrumb {
        margin-top: 54px !important;
    }
    .unlogged .promo-breadcrumb {
        margin-top: 53px !important;
    }
    .carousel {
        margin-top: 55px;
    }
    .unlogged .bundle-img {
        margin-top: 54px;
        margin-bottom: -54px;
    }
    .bundle-img {
        margin-top: 72px;
        margin-bottom: -71px;
    }

}

@media (max-width: 575px) {

    .btn-margin-bottom {
        margin-bottom: 0;
    }
    .width-mobile {
        width: 100%;
    }
    body.unlogged {
		padding-top: 61px !important;
	}
	#navbar.unlogged {
		top: 0px !important;
        margin-top: -56px;
	}
    body.unlogged #carousel_indicator {
        margin-top: 54px;
    }
    .navbar-toggler {
        margin-top: 0 !important;
    }
    /* body {
        padding-top: 103px !important;
    } */
    .breadcrumb {
        /* margin-top: 19px; */
    }
    .margin-breadcrumb-mobile {
        margin-top: 72px;
    }
    .breadcrumb-mobile {
        margin-top: 72px;
    }
    .modal-mobile {
        margin-top: 31px;
    }
    .unlogged .promo-breadcrumb {
        margin-top: 49px;
    }
    .promo-breadcrumb {
        margin-top: 50px;
    }
    .breadcrumb-change-email, .breadcrumb-user-validation {
        margin-top: 55px;
    }
    .toggle-mobile {
        display: none;
        margin-left: -5px;
    }
    .user-dropdown {
        margin-left: -15px;
        margin-top: 6px;
    }
    .cumulative-dropdown {
        margin-left: -85px;
        margin-top: 8px;
    }
    figure.zoom {
        min-height: 0 !important;
        height: 416px !important;
    }
    .height-image {
        height: 270px !important;
    }
    .hide-line-mobile {
        display: none !important;
    }
    .height-image-bundle {
        height: 180px !important;
    }
    /* .breadcrumb-margin-top  {
        margin-top: 54px !important;
    } */
    .text-mobile {
        font-size: 45px !important;
    }
    .category-mobile {
        font-size: 14px !important;
    }
    body.unlogged {
        padding-top: 23px !important;
    }
    .width-navbar-top {
        width: 110% !important;
    }
    .width-navbar-mobile {
        width: 100% !important;
    }
    .margin-top-mobile {
        margin-top: 46px;
    }
    .unlogged .dropdown-menu-registration {
        left: -132px !important;
        margin-top: 8px;
    }
    .width-prodotti-mobile {
        width: 100%;
    }
    .carousel, .carousel-inner, .carousel-item {
        height: auto !important;
    }
    #info_cf {
        padding-bottom: 0 !important;
        padding-top: 15px !important;
        max-height: 240px !important;
    }
    #info_spcode {
        padding-bottom: 0 !important;
        padding-top: 15px !important;
        max-height: 360px !important;
    }
    #info_referente {
        padding-top: 15px !important;
        padding-bottom: 0 !important;
        max-height: 265px !important;
    }
    .btn-shop-mobile {
        margin-top: -5px !important;
    }
    .unlogged .bundle-img {
        margin-top: 54px;
        margin-bottom: -55px;
    }
    .bundle-img {
        margin-top: 0px;
        margin-bottom: -55px;
    }
    .text-promotions {
        font-size: 40px !important;
    }
    /*.product-mobile {
        width: 115%;
        margin-left: -15px;
    }*/
    .sponsor-code-mobile {
        margin-left: -25% !important;
    }
    .unlogged .btn-shop-mobile {
        margin-left: -15px;
    }
    .line-height-mobile {
        line-height: 40px;
    }
    .size-category-mobile {
        font-size: 40px !important;
    }
    .text-category-mobile {
        font-size: 37px !important;
    }
    .select-registration li a span.text {
        font-size: 12px;
        margin-left: -20px;
    }

}

@media (max-width:574px) {
    body.unlogged {
        padding-top: 61px !important;
    }
    .margin-top-mobile {
        margin-top: 0px !important;
    }
}

@media (max-width: 521px) {

    .btn-margin-bottom {
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {

    .inside {
        width: 100% !important
    }

    .offcanvas{
        width: 100%;
    }

    .bg_section,
    .bg_section.hero-product-list
    {
        height: 200px !important;
    }

    .margin-text-mobile {
        margin-left: 30%;
    }
    .list-padding {
        padding-inline-start: 0 !important;
    }

    .video {
        margin-top: 54px !important;
    }

    .title {
        font-size: 30px !important;
        line-height: 35px !important;
    }

    .title_video {
        margin-top: 35px;
    }

    .title_video .logo {
        margin-bottom: 10px !important;
        width: 50% !important
    }

    #steps li, #steps-in-cart li {
        padding-left: 4px !important;
        padding-right: 4px !important;
        display: inline-block;
        line-height: 5px !important;
        text-align: center !important
    }

    #steps li a, #steps-in-cart li a {
        font-size:  11px !important;
    }

    #steps .divider, #steps-in-cart .divider {
        width: 5px
    }

}

@media (max-width:300px) {

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

}

@media (min-width: 300px) {

    #step li {
        display: block !important;
        width: 100%
    }

    #navbar {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #navbar .navbar-nav .nav-link {
        font-weight: 500;
    }

    .main {
        padding: 50px 15px 60px 15px;
    }

    .toggle-desktop {
        display: none !important;
    }
}

@media (min-width: 575px) {

    .toggle-desktop {
        display: block !important;
    }
    .toggle-mobile {
        display: none !important;
    }
    .search-mobile {
        display: none !important;
    }
    .border-right {
        display: none !important;
    }
    .margin-left-navbar {
        display: none;
    }

}

/* Tablet */
@media (min-width: 768px) {

    #navbar {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    #navbar .navbar-nav {
        padding-top: 0;
    }

    #navbar .navbar-nav .nav-item {
        padding-top: 0;
        padding-bottom: 0
    }

    #mini-nav {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .card-img-equal-height{
        width: 100%;
        height: 18vw;
        object-fit: cover;
    }

    .toggle-desktop {
        margin-right: -20px;
    }

    .display-3.md.hydrated {
        font-size: 1.5rem;
    }

}

/* Desktop */
@media (min-width: 992px) {

    #nav_content {
        justify-content: center;
    }

    #navbar {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    #mini-nav {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    #navbar .navbar-nav .nav-link {
        font-weight: 500;
    }

    .card-img-equal-height{
        width: 100%;
        height: 18vw;
        object-fit: cover;
    }

    .toggle-desktop {
        display: none !important;
    }

    .search-mobile {
        display: none !important;
    }

    .btn-shop-mobile {
        display: none !important;
    }

    .btn-shop-block {
        display: block !important;
    }
    .display-3.md.hydrated {
        font-size: 2rem;
    }

    .container-prodotti {
        max-width: 80%;
    }

}

/* Extra large */
@media (min-width: 1200px) {

    .main {
        padding: 80px 0 100px 0;
    }

    .card-img-equal-height{
        width: 100%;
        height: 18vw;
        object-fit: cover;
    }
    .display-3.md.hydrated {
        font-size: 2rem;
    }

}

/* Menù */
html.menu-fullscreen {
    overflow: hidden !important;
}

#hamburger-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    padding-bottom: 23px;
    padding-right: 35px;
}

#hamburger-container > #container-languages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#hamburger-container i {
    font-size: 20px;
    transition: font-size 0.15s;
}

#hamburger-container #container-languages i:hover {
    font-size: 25px;
}

#hamburger-menu {
    color: #292929 !important;
    transition: color .75s;
}

#hamburger-menu:hover {
    color: #9164ae !important;
}

#hamburger-menu>i {
    font-size: 30px;
    margin-left: 50px;
}

#menu-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    clip-path: circle(0% at calc(100vw - 94px) 42px);
    transition: clip-path .75s, -webkit-clip-path .75s;
}

#menu-container.closing {
    clip-path: circle(0% at calc(91.7vw - 33.5px) 62.5px);
}

#menu-container.open {
    clip-path: circle(140% at calc(91.7vw - 33.5px) 62.5px);
}

#menu-container.opening {
    clip-path: circle(140% at calc(100vw - 94px) 42px);
}

#menu-container .img-contain {
    margin-bottom: 0.25rem;
}

#root-menu {
    width: 100%;
    height: 1%;
    margin: 0;
    flex: 1 0 auto;
}

#root-menu li {
    list-style: none;
}

#root-menu .sub-menu.d-xl-none {
    position: relative;
    /*display: none !important;*/
    padding-left: 30px;
}

#root-menu a {
    color: rgba(0, 0, 0, 0.84) !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px !important;
    line-height: 180% !important;
}

#root-menu .sub-menu a {
    font-size: 24px !important;
    text-transform: uppercase;
}

#root-menu a span {
    position: relative;
    transition: left .75s;
    left: 0px;
    display: block;
}

#root-menu a:hover span, #root-menu a.current span {
    left: 30px;
}

#root-menu .sub-menu a:hover span {
    left: 0px;
}

#root-menu #hover-socials {
    padding-bottom: 35px;
    margin-top: 30px;
}

#root-menu #hover-socials a {
    font-size: 18px !important;
    transition: color .75s;
}

#root-menu #hover-socials a:hover {
    color: #9164ae !important;
}

#root-menu a span:after {
    content: attr(data-text);
    font-family: 'FontAwesome', 'Montserrat', sans-serif;
    color: rgba(145, 100, 174, 1);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .75s, -webkit-clip-path .75s;
}

#root-menu a:hover span:after, #root-menu a.current span:after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#root-menu .sub-menu {
    position: absolute;
    padding: 30px 0;
    transition: opacity .75s, top .75s;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #9164ae transparent;
}

#root-menu .sub-menu.d-xl-block {
    opacity: 0;
    top: 60px;
    visibility: hidden;
}

#root-menu .sub-menu::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
#root-menu .sub-menu::-webkit-scrollbar-thumb{
    background: #9164ae;
    border-radius: 8px;
}
#root-menu .sub-menu::-webkit-scrollbar-track{
    background: transparent;
    border: 1px solid #9164ae;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#root-menu .sub-menu.d-xl-block.visible {
    opacity: 1;
    top: 0;
    visibility: visible;
}

@media (max-width: 1199px) {
    #root-menu .hover-box-side:not(.d-none) {
        scrollbar-width: none !important;
    }

    #root-menu .hover-box-side:not(.d-none)::-webkit-scrollbar{
        display: none !important;
    }

    #root-menu a {
        font-size: 28px !important;
    }

    #root-menu .sub-menu a {
        font-size: 18px !important;
    }

    #root-menu #hover-socials a {
        font-size: 16px !important;
    }

    #root-menu .sub-menu.d-xl-none.visible {
        display: block !important;
    }

    #menu-container {
        overflow-y: auto;
        overflow-x: hidden;
        /*clip-path: circle(0% at 17px 154px);*/
    }

    #menu-container.closing {
        clip-path: circle(0% at calc(91.7vw - 53.5px) 62.5px);
    }

    #menu-container.open {
        clip-path: circle(140% at calc(91.7vw - 53.5px) 62.5px);
    }

    /*#menu-container.opening {
        clip-path: circle(140% at 17px 154px);
    }*/

    #menu-container #header-logo {
        padding-left: 30px;
    }

    #hamburger-container {
        padding-right: 55px;
        min-height: 100px;
    }
}

@media (max-width: 991px) {
    #menu-container {
        clip-path: circle(0% at calc(100vw - 19px) 42px);
    }

    #menu-container.closing {
        clip-path: circle(0% at calc(100vw - 50.5px) 62.5px);
    }

    #menu-container.open {
        clip-path: circle(140% at calc(100vw - 50.5px) 62.5px);
    }

    #menu-container.opening {
        clip-path: circle(140% at calc(100vw - 19px) 42px);
    }
}

@media (max-width: 574px) {
    #menu-container {
        clip-path: circle(0% at calc(100vw - 25px) 42px);
    }

    #menu-container.opening {
        clip-path: circle(140% at calc(100vw - 25px) 42px);
    }

    figure.zoom {
        border-left: none !important;
        border-right: none !important;
    }
}

#root-menu .hover-box-side:not(.d-none) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #9164ae transparent;
}

#root-menu .hover-box-side:not(.d-none)::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
#root-menu .hover-box-side:not(.d-none)::-webkit-scrollbar-thumb{
    background: #9164ae;
    border-radius: 8px;
}
#root-menu .hover-box-side:not(.d-none)::-webkit-scrollbar-track{
    background: transparent;
    border: 1px solid #9164ae;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#menu-container #hover-menu-squares {
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: fixed !important;
}

#menu-container .menu-bg-square {
    position: absolute !important;
    margin-top: 26vh;
    margin-left: -18vh;
}

#menu-container .menu-bg-square > div {
    width: 50vh;
    height: 50vh;
    opacity: 1;
    background-size: contain;
}

#menu-container .menu-bg-square .straight {
    background-image: url('/img/background.svg');
}

#menu-container .menu-bg-square .rotated {
    background-image: url('/img/foreground.svg');
}

@media (max-width:1199px) {
    #menu-container .menu-bg-square {
        margin-left: 18vh;
        left: calc(100vw - 50vh) !important;
    }

    #menu-container .menu-bg-square .straight {
        background-image: url('/img/background_mobile.svg');
    }

    #menu-container .menu-bg-square .rotated {
        background-image: url('/img/foreground_mobile.svg');
    }
}
/* Fine menù */


.modal-backdrop{
    z-index: 100000006 !important;
}

.modal-backdrop.show{
    opacity: 0.7 !important;
}
