.modal.new-modal .modal-dialog {
    width: 60%;
    max-width: 1000px;
}

.modal.new-modal .close-modal {
    color: var(--primary-color);
}

.modal-open .modal.new-modal {
    overflow-y: hidden;
}

.modal.new-modal .modal-content {
    border-radius: 0 !important;
    padding: 0;
    box-shadow: none;
    border: none;
    width: 100%;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
}

.modal.new-modal .modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding: 8px 16px;
}

.modal.new-modal .modal-header .wish-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
    border-radius: 0;
    width: fit-content;
    gap: 4px;
}

.modal.new-modal .modal-header button {
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: all 0.2s ease;
    opacity: 1;
    cursor: pointer;
}

.modal.new-modal .modal-header button:hover {
    opacity: 0.5;
    transition: all 0.2s ease;
}

.modal.new-modal .modal-header button:focus {
    outline: none;
    box-shadow: none;
}

.modal.new-modal .modal-body {
    padding: 0;
    background-color: #fff;
}

.modal.new-modal .modal-full-button,
.modal.new-modal .modal-full-button:focus {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    height: 48px;
    padding: 0 60px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
    border-radius: 0 !important;
    border: 1px solid var(--primary-color);
    border: 0;
    border-top: 1px solid var(--primary-color);
}

.modal.new-modal .modal-full-button .svg-icon svg path {
    width: 32px !important;
}

.modal.new-modal .modal-full-button:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.modal.modal.new-modal .cover-container {
    max-height: 100%;
    /* min-height: 500px; */
    display: flex;
    align-items: center;
    padding: 56px 0;
}

.modal.modal.new-modal .cover-container img {
    width: 100%;
    height: auto;
}

.modal.modal.new-modal .content-modal {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.modal.modal.new-modal .content-modal .header {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-bottom: 1px solid var(--primary-color);
    background-color: #eee;
    margin-bottom: 32px;
}

.modal.modal.new-modal .content-modal .header .icon-heart {
    border-radius: 0;
    border: none;
    background-color: transparent;
    width: fit-content;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.modal.modal.new-modal .icon-heart svg path {
    transition: all 0.2s ease;
}

.modal.modal.new-modal .icon-heart.active svg path {
    stroke: #000;
    transition: all 0.2s ease;
}

.modal.modal.new-modal .content-modal .header a:hover {
    text-decoration: none !important;
}

.modal.modal.new-modal .content-modal .body {
    padding: 0;
    flex: 1 1 auto;
    overflow: auto;
    padding: 0 24px;
    max-height: 300px;
}

.modal.modal.new-modal .content-modal .body a:hover {
    opacity: 1 !important;
    text-decoration: none !important;
    border-bottom: none !important;
    color: var(--secondary-color) !important;
}

.modal.modal.new-modal .content-modal .footer {
    padding-top: 16px;
    padding: 16px 32px 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal.modal.new-modal .content-modal .footer a {
    text-decoration: none;
    border-bottom: 1px solid !important;
    min-width: fit-content;
    gap: 4px;
    display: flex;
    align-items: center;
}

.modal.modal.new-modal .content-modal .footer a:hover {
    color: var(--secondary-color) !important;
    text-decoration: none !important;
    opacity: 1 !important;
    border-bottom-color: transparent;
}

.modal.modal.new-modal .content-modal p,
.modal.modal.new-modal .content-modal h1 {
    margin-bottom: 0;
}

.modal.modal.new-modal .label-group {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: start;
}

.troncato-altezza {
    max-height: 90%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.modal.modal.new-modal .content-modal .btn {
    border-radius: 0 !important;
}

.modal.modal.new-modal .content-modal .btn.btn-primary-outline {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color) !important;
}

.modal.modal.new-modal .content-modal .btn.btn-primary-outline:hover,
.modal.modal.new-modal .content-modal .btn.btn-primary-outline:focus {
    text-decoration: none !important;
    border-color: var(--secondary-color);
    color: var(--secondary-color) !important;
}

.only-mobile {
    display: none;
    width: 100%;
    padding: 0 0 56px 0;
}

.only-mobile .header {
    padding-top: 24px;
}

.only-mobile .troncato {
    max-width: 95%;
}

.modal.new-modal .table th,
.modal.new-modal .table td {
    font-family: var(--primary-font);
    font-size: 13px;
    line-height: normal;
    color: var(--primary-color);
    font-weight: 400;
    padding: 8px 16px;
}

.modal.new-modal .table td.fit {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .only-mobile {
        display: block;
    }

    .modal.new-modal {
        backdrop-filter: none;
        left: 0;
        right: 0;
    }

    .modal.new-modal .modal-dialog {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        left: 0;
        right: 0;
        margin: 0;
    }

    .modal.new-modal .modal-dialog .modal-content {
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0;
        top: -1px;
        left: 0;
        right: 0;
        position: fixed;
        overflow-y: auto;
    }

    .modal.modal.new-modal .content-modal {
        padding: 0;
        margin: 0;
    }

    .modal.modal.new-modal .content-modal .header {
        border-bottom: none;
        background-color: #fff;
        padding: 0 24px;
        margin: 32px 0;
    }

    .modal.modal.new-modal .content-modal .body {
        padding: 24px;
    }

    .modal.modal.new-modal .content-modal .body .read-more {
        margin-top: 16px;
    }

    .modal.modal.new-modal .label-group {
        top: -36px;
        max-width: 85%;
    }

    .only-desk {
        display: none;
    }

    .modal.new-modal .modal-full-button {
        padding: 0;
        margin: 0 !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .modal.new-modal.slide-in-bottom .modal-dialog {
        transform: translateY(100%);
        transition: transform 0.4s ease-out;
    }

    .modal.new-modal.show.slide-in-bottom .modal-dialog {
        transform: translateY(0);
    }

    .modal.modal.new-modal .cover-container {
        padding: 0;
        margin: 0;
    }

    .modal.modal.new-modal .cover-container a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .modal.modal.new-modal .cover-container img {
        width: 80%;
        height: auto;
    }

    .modal.modal.new-modal .content-modal .footer {
        padding: 0;
    }
}

/* Modal styles */
.modal-fav {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 85px; /* Position from the top */
    left: 62%; /* Position from the right */
    width: 482px; /* Set a width for the modal */
    height: auto; /* Allow height to adjust based on content */
    max-height: 200px; /* Set a maximum height (approximately 5-8cm) */
    background-color: white; /* White background */
    border: 1px solid #aeaeae;
    padding: 10px 20px 20px 20px; /* Padding inside the modal */
    z-index: 999999; /* On top of other elements */
    overflow: auto; /* Add scroll if content exceeds max height */
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    z-index: 10000000000;
}

.alert-add-to-cart {
    background-color: #e7ffec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000000000000000;
    right: -100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.alert-add-to-cart.show {
    right: 0;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.alert-add-to-cart p {
    margin-bottom: 0;
    text-align: center;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
}
